<!DOCTYPE HTML>
<html lang="en">
<head>
        <title>Luigi's</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css" type="text/css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

        <!-- Stylesheets -->
        <link href="plugin-frameworks/bootstrap.min.css" rel="stylesheet">
        <link href="plugin-frameworks/swiper.css" rel="stylesheet">
        <link href="fonts/ionicons.css" rel="stylesheet">
        <link href="common/styles.css" rel="stylesheet">

</head>
<body>

<header>
        <div class="container">
                <a class="logo" href="#"><img src="images/logo.jpg" alt="Logo"></a>

                <div class="right-area">
                        <h6><a class="plr-20 color-white btn-fill-primary" href="#">HOTLINE: 1900 63 38 12</a></h6>
                </div><!-- right-area -->

                <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

                <ul class="main-menu font-mountainsre" id="main-menu">
                        <li><a href="index.html">TRANG CHỦ</a></li>
                        <li><a href="02_about_us.html">GIỚI THIỆU</a></li>
                        <li><a href="03_menu.html">DỊCH VỤ</a></li>
                        <li><a href="04_blog.html">TIN TỨC</a></li>
                        <li><a href="05_contact.html">LIÊN HỆ</a></li>
                        <li><a href="03_menu.html">MENU</a></li>
                </ul>

                <div class="clearfix"></div>
        </div><!-- container -->
</header>


<section class="bg-1 h-900x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white">

                                <h5><b>CẢM ƠN BẠN ĐÃ TIN DÙNG</b></h5>
                                <h1 class="mt-30 mb-15">Pizza & Hot Dog</h1>
                                <h5><a href="#" class="btn-primaryc plr-25"><b>ĐẶT NGAY <i class="fa fa-shopping-cart"></i></b></a></h5>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>


<section class="story-area left-text center-sm-text pos-relative">
        <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
        <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="images/heading_logo.png" alt="">
                        <h2>Our Story</h2>
                </div>

                <div class="row">
                        <div class="col-md-3">
                                <i style="margin-left:100px;" class="mb-20 fa fa-shipping-fast fa-4x"></i>
                                <p class="mb-10 center-text" style="font-size:large;" >ĐẶT HÀNG TRỰC TUYẾN</p>
                                <p class="center-text">       Thanh toán Online </p>
                        </div><!-- col-md-6 -->

                        <div class="col-md-3">
                                <i style="margin-left:100px;" class="mb-20 fa fa-drumstick-bite fa-4x"></i>
                                <p class="mb-10 center-text" style="font-size:large;" >GÀ RÁN THƠM NGON</p>
                                <p class="center-text">       Da giòn đậm vị </p>
                        </div><!-- col-md-6 -->
                        <div class="col-md-3">
                                <i style="margin-left:100px;" class="mb-20 fas fa-home fa-4x"></i>
                                <p class="mb-10 center-text" style="font-size:large;" >SẢN PHẨM TƯƠI NGON</p>
                                <p class="center-text">       Giá rẻ bất ngờ </p>
                        </div><!-- col-md-6 -->
                        <div class="col-md-3">
                                <i style="margin-left:100px;" class="mb-20 fas fa-phone fa-4x"></i>
                                <p class="mb-10 center-text" style="font-size:large;" >Hỗ trợ nhanh chóng</p>
                                <p class="center-text">       Từ 8:00 đến 20:00 tất cả các ngày trong tuần </p>
                        </div><!-- col-md-6 -->
                </div><!-- row -->
        </div><!-- container -->
</section>


<section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
        <div class="pos-top triangle-bottom"></div>
        <div class="container">
                <div class="heading">
                        <h2>Bán chạy nhất</h2>
                </div>

                <div class="row">
                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>YÊU CẦU</b></h6>
                                                <img src="images/seller-2-200x200.png" alt="">
                                        </div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>119.000 VNĐ</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Đặt Ngay</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative"><img src="images/seller-2-200x200.png" alt=""></div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>119.000 VNĐ</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Đặt Ngay</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative"><img src="images/seller-2-200x200.png" alt=""></div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>119.000 VNĐ</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Đặt Ngay</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6  class="ribbon-cont"><div class="ribbon secondary"></div><b>ĐẶC BIỆT</b></h6>
                                                <img src="images/seller-2-200x200.png" alt="">
                                        </div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>119.000 VNĐ</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Đặt Ngay</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative"><img src="images/seller-2-200x200.png" alt=""></div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>119.000 VNĐ</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Đặt Ngay</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>YÊU CẦU</b></h6>
                                                <img src="images/seller-2-200x200.png" alt="">
                                        </div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>129.000 VNĐ</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Đặt Ngay</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6 class="ribbon-cont color-black"><div class="ribbon white"></div><b>CỠ LỚN</b></h6>
                                                <img src="images/seller-2-200x200.png" alt="">
                                        </div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>219.000 VNĐ</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Đặt Ngay</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative"><img src="images/seller-2-200x200.png" alt=""></div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>311.000 VNĐ</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Đặt Ngay</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->
                </div><!-- row -->

                <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>XEM TẤT CẢ</b></a></h6>
        </div><!-- container -->
</section>


<section>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="images/heading_logo.png" alt="">
                        <h2>Menu</h2>
                </div>

                <div class="row">
                        <div class="col-sm-12">
                                <ul class="selecton brdr-b-primary mb-70">
                                        <li><a class="active" href="#" data-select="*"><b>TẤT CẢ</b></a></li>
                                        <li><a href="#" data-select="pizza"><b>PIZZA</b></a></li>
                                        <li><a href="#" data-select="pasta"><b>PASTA</b></a></li>
                                        <li><a href="#" data-select="salads"><b>GÀ RÁN</b></a></li>
                                        <li><a href="#" data-select="deserts"><b>HOT DOG</b></a></li>
                                </ul>
                        </div><!--col-sm-12-->
                </div><!--row-->

                <div class="row">
                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-1-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Margherita</b><b class="color-primary float-right">$12.00</b></h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pizza pasta">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-2-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Italian pasta</b><b class="color-primary float-right">$20.00</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-3-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Prosciuto</b><b class="color-primary float-right">$12.00</b></h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu salads">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="images/menu-4-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Broschettas</b><b class="color-primary float-right">$6.00</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                        <div class="col-md-6 food-menu deserts">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="images/menu-5-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Margherita</b><b class="color-primary float-right">$12.00</b></h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-6-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Italian pasta</b><b class="color-primary float-right">$20.00</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu deserts">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="images/menu-7-120x120.jpg"  alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Prosciuto</b><b class="color-primary float-right">$12.00</b></h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla  molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-8-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Broschettas</b><b class="color-primary float-right">$6.00</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                </div><!-- row -->

                <!-- <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h6> -->
        </div><!-- container -->
</section>

<footer class="pb-50  pt-70 pos-relative">
        <div class="pos-top triangle-bottom"></div>
        <div class="container-fluid">
                <!-- <a href="index.html"><img width="120px" height="50px" src="images/logo.jpg" alt="Logo"></a> -->
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.5909842475944!2d106.6570503153344!3d10.842580160932693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529a46ffa0d91%3A0x786121a774756e82!2zxJDGsOG7nW5nIHPhu5EgMTIsIHBoxrDhu51uZyAxMSwgR8OyIFbhuqVwLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1597427028361!5m2!1svi!2s"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <div class="pt-30">
                        <p class="underline-secondary"><b>Địa chỉ:</b></p>
                        <p>Phường 12,Quận Gò Vấp,TP.Hồ Chí Minh  </p>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Số điện thoại:</b></p>
                        <a href="tel:03 139 721 48 ">03 139 721 48 </a>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Email:</b></p>
                        <a href="mailto:yourmail@gmail.com"> fmlfoodsvn@gmail.com</a>
                </div>

                <ul class="icon mt-30">
                        <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-vimeo"></i></a></li>
                </ul>

                <p class="color-light font-9 mt-50 mt-sm-30"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | FML Foods 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div><!-- container -->
</footer>

<!-- SCIPTS -->
<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
<script src="plugin-frameworks/bootstrap.min.js"></script>
<script src="plugin-frameworks/swiper.js"></script>
<script src="common/scripts.js"></script>

</body>
</html>